/* Regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.row::after {
    content: "";
    display: table;
    clear: both;
} 

.container {
    width: 80%;
    margin: auto;
    position: relative;
}

/* Parte header */

header {
    width: 100%;
    height: 80px;
    background-color: rgb(141, 248, 212);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

header .nav-left {
    display: inline-block;
    width: 40%;
    height: 80px;
    background-color: #fff;
}

header .nav-right {
    display: inline-block;
    float: right;
    width: 40%;
    height: 80px;
    background-color: #fff;
}

/* Parte jumbotron */

#jumbotron {
    width: 100%;
    margin-top: 80px;
    background-color: rgb(88, 154, 156);
}

/*#jumbotron .container {
    position: relative;
}*/

.container .jumbo-title {
    width: 100%;
    height: 200px;
    display: inline-block;
    margin-top: 100px;
    background-color: rgb(31, 31, 150);
}

.container .jumbo-paragraph {
    float: left;
    width: 40%;
    height: 400px;
    background-color: rgb(168, 12, 12);
    margin-bottom: 20px;
}

.container .jumbo-img {
    position: absolute;
    width: 53%;
    height: 400px;;
    right: 0;
    bottom: -40px;
    background-color: rgb(197, 127, 127);
}

/* Sezione Dropbox Business */

main .container {
    margin-top: 100px;
}

main .drop-bns-text h1 {
    background-color: rgb(73, 62, 143);
    padding: 40px;
    margin: 20px 0px;
}

main .drop-bns-text span {
    background-color: rgb(101, 95, 139);
    padding: 20px;
    margin: 20px 0px;
    display: block;
}

.col-container .left-col {
    float: left;
    width: 30%;
    height: 1000px;
    margin-right: 5%;
    background-color: rgb(47, 79, 79);
}

.col-container .center-col {
    float: left;
    width: 30%;
    height: 1000px;
    background-color: rgb(47, 79, 79);
}

.col-container .right-col {
    float: left;
    width: 30%;
    height: 1000px;
    margin-left: 5%;
    background-color: rgb(47, 79, 79);
}

main .container .bottom-sec {
    width: 100%;
    height: 250px;
    margin: 50px 0px 150px 0px;
    background-color: rgb(47, 79, 79);
}

/* Sezione Trova Partner */

.partner-sec .partner-img {
    width: 50%;
    height: 450px;
    margin-left: 20px;
    background-color: rgb(0, 159, 212);
    float: left;
}

.partner-sec .partner-text {
    width: 40%;
    height: 250px;
    float: right;
    top: 0;
    right: 0;
    margin: 40px 30px;
    background-color: rgb(12, 90, 116);
}