/* Regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.row::after {
    content: "";
    display: table;
    clear: both;
} 

.container {
    width: 80%;
    margin: auto;
    position: relative;
}

/* Parte header */

header {
    width: 100%;
    height: 80px;
    background-color: rgb(141, 248, 212);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

header .nav-left {
    display: inline-block;
    width: 40%;
    height: 80px;
    background-color: #fff;
}

header .nav-right {
    display: inline-block;
    float: right;
    width: 40%;
    height: 80px;
    background-color: #fff;
}

/* Parte jumbotron */

#jumbotron {
    width: 100%;
    margin-top: 80px;
    background-color: rgb(88, 154, 156);
}

/*#jumbotron .container {
    position: relative;
}*/

.container .jumbo-title {
    width: 100%;
    height: 200px;
    display: inline-block;
    margin-top: 100px;
    background-color: rgb(31, 31, 150);
}

.container .jumbo-paragraph {
    float: left;
    width: 40%;
    height: 400px;
    background-color: rgb(168, 12, 12);
    margin-bottom: 20px;
}

.container .jumbo-img {
    position: absolute;
    width: 53%;
    height: 400px;;
    right: 0;
    bottom: -40px;
    background-color: rgb(197, 127, 127);
}

/* Sezione Dropbox Business */

.business-sec {
    margin-top: 100px;
}

main .drop-bns-text h1 {
    background-color: rgb(73, 62, 143);
    padding: 40px;
    margin: 20px 0px;
}

main .drop-bns-text span {
    background-color: rgb(101, 95, 139);
    padding: 20px;
    margin: 20px 0px;
    display: block;
}

.col-container .left-col {
    float: left;
    width: 30%;
    height: 1000px;
    margin-right: 5%;
    background-color: rgb(47, 79, 79);
}

.col-container .center-col {
    float: left;
    width: 30%;
    height: 1000px;
    background-color: rgb(47, 79, 79);
}

.col-container .right-col {
    float: left;
    width: 30%;
    height: 1000px;
    margin-left: 5%;
    background-color: rgb(47, 79, 79);
}

main .container .bottom-sec {
    width: 100%;
    height: 250px;
    margin: 50px 0px 150px 0px;
    background-color: rgb(47, 79, 79);
}

/* Sezione Trova Partner */

.partner-sec {
    margin-bottom: 150px;
}

.partner-sec .partner-img {
    width: 50%;
    height: 450px;
    margin-left: 20px;
    background-color: rgb(0, 159, 212);
    float: left;
}

.partner-sec .partner-text {
    width: 40%;
    height: 250px;
    float: right;
    top: 0;
    right: 0;
    margin: 40px 30px;
    background-color: rgb(12, 90, 116);
}

/* Sezione Operazioni DB */

.operation-sec h1 {
    background-color: rgb(73, 62, 143);
    padding: 40px;
    margin: 20px 0px;
}

.operation-img {
    width: 100%;
    height: 200px;
    background-color: rgb(44, 160, 44);
}

.operation-text {
    width: 100%;
    height: 200px;
    background-color: rgb(18, 65, 18);
}

.content-left {
    width: 30%;
    float: left;
    margin-right: 5%;
}

.content-central {
    width: 30%;
    float: left;
}

.content-right {
    width: 30%;
    float: left;
    margin-left: 5%;
}

.second-row {
    margin-top: 70px;
}

/* Sezione Team */

.team-numbers-sec {
    width: 100%;
    height: 400px;
    position: relative;
}

.team-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: rgb(73, 62, 143);
    padding: 40px;
    margin: 20px 0px;
}

/* Sezione Loghi Aziende
DA RIVEDERE, NON FUNZIONA CORRETTAMENTE */

#logo-sec {
    width: 100%;
    height: 70vh;
    background-color: rgb(185, 185, 185);
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    position: relative;
}

.logo-designit {
    width: 251px;
    height: 251px;
    float: left;
    top:0;
    left: 0;
    background-color: rgb(47, 163, 119);
}

.logo-arizona {
    width: 251px;
    height: 251px;
    float: left;
    top: 0;
    left: 251px;
    background-color: rgb(104, 20, 45);
}

.logo-hearst {
    width: 251px;
    height: 251px;
    float: right;
    top: 0;
    right: 0;
    background-color: rgb(184, 227, 247);
}

.logo-bicycle {
    width: 251px;
    height: 251px;
    float: right;
    top: 0;
    right: 251px;
    background-color: rgb(255, 0, 0);
}

.logo-florida {
    width: 251px;
    height: 251px;
    float: left;
    bottom: 0;
    left: 0;
    background-color: rgb(8, 90, 214);
}

.logo-topps {
    width: 251px;
    height: 251px;
    float: left;
    bottom: 0;
    left: 251px;
    background-color: rgb(231, 111, 56);
}

.logo-lonely {
    width: 251px;
    height: 251px;
    float: right;
    bottom: 0;
    right: 251px;
    background-color: rgb(30, 0, 112);
}

.logo-channel {
    width: 251px;
    height: 251px;
    float: right;
    bottom: 0;
    right: 0px;
    background-color: rgb(251, 255, 42);
}

.logo-col-central {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    /*width: 516px;
    height: 400px;*/
    background-color: rgb(205, 92, 92);
    overflow: auto;
}

/* Sezione Free Trial */

#free-trial {
    width: 100%;
    height: 300px;
    background-color: rgb(171, 210, 223);
    position: relative;
}

#free-trial .trial-text {
    width: 40%;
    height: 100px;
    margin: 100px 0;
    background-color: rgb(73, 62, 143);
    float: left;
    
}

#free-trial .trial-button{
    width: 40%;
    background-color: rgb(240, 128, 128);
    float: right;
    height: 100px;
    margin: 100px 0;
}